<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>首页</title>
</head>
<body>
我是
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>idNum</th>
        <th>phone</th>
    </tr>
    <tr th:each = "user:${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.idNum}"></td>
        <td th:text="${user.phone}"></td>
    </tr>


</table>
</body>
</html>